#city{
    background: #fff !important;
    z-index:15;
    bottom: 0;
    .nav-bar{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        .nav-item{
            display: block;
            font-size: 14px;
            padding: 0px 6px;
        }
    } 
}